[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
drf-yasg = "*"
gunicorn = "*"
psycopg2 = "==2.7.7"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.7"
